RewriteEngine On

# Downloads
RewriteRule ^downloads$ downloads.php [L]

# Notes
RewriteRule ^notes$ notes.php [L]
RewriteRule ^notes/(9|10|11|12)/([a-zA-Z0-9_-]+)$ notes.php?grade=$1&subject=$2 [L]

# Books
RewriteRule ^books$ books.php [L]
RewriteRule ^books/(9|10|11|12)$ books.php?grade=$1 [L]
